{% extends 'customadmin/basic.html' %} 
{% load static %}

    {% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/forms/select/select2.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css' %}">
    <!-- END: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/pickers/form-flat-pickr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/form-validation.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/app-user.css' %}">
    {% endblock style %}
</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="">
    {% block content %}


        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper container-xxl p-0">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <!-- users edit start -->
                <section class="app-user-edit">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                <div class="alert alert-danger" role="alert">
                                    {{message}}
                                </div>
                                    {% else %}
                                <div class="alert alert-{{ message.tags }}" role="alert">
                                    {{message}}
                                </div>
                                    {% endif %}
                                {% endfor %}{% endif %}
                                <div class="row">
                                    <div class="col-md-7"></div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-3">
                                        {% if user %}
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Change password</button>
                                        {% endif %}
                                    </div>
                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <form method="POST" action="/user/forgetpassword/{{user.id}}">
                                                {% csrf_token %}
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="username">Password</label>
                                                            <input type="password" name="reset-password-new" class="form-control" placeholder="Enter password" value="" id="username" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="username">Confirm Password</label>
                                                            <input type="password" name="reset-password-confirm" class="form-control" placeholder="Confirm Password" value="" id="username" />
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                              <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>

                                          </div>
                                        </form>
                                        </div>
                                      </div>
                                <!-- Account Tab starts -->
                                <div class="tab-pane active" id="account" aria-labelledby="account-tab" role="tabpanel">
                                    <form class="form-validate" method="POST">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="username">First name</label>
                                                    {{form.first_name}}
                                                    {% comment %} <input type="text" name="first_name" class="form-control" placeholder="First name" value="" id="username" /> {% endcomment %}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="name">Last Name</label>
                                                    {% comment %} <input type="text" name="last_name" class="form-control" placeholder="Last Name" value="" id="name" /> {% endcomment %}
                                                {{form.last_name}}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="email">E-mail</label>
                                                    {{form.email}}
                                                    {% comment %} <input type="email" name="email" required class="form-control" placeholder="Email" value="" id="email" /> {% endcomment %}
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="status">Status</label>
                                                    <select name="status" class="form-control" id="status">
                                                        <option value="1">Active</option>
                                                        <option value="0">Inactive</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    {% comment %} <label for="email">Password</label> {% endcomment %}
                                                    {{form.password1.label}}
                                                    {{form.password1}}
                                                    {% comment %} <input type="text" name="password1" required class="form-control" placeholder="Email" value="" id="email" /> {% endcomment %}
                                                </div>
                                            </div><div class="col-md-4">
                                                <div class="form-group">
                                                    {% comment %} <label for="email">confirm Password</label> {% endcomment %}
                                                    {{form.password2.label}}
                                                    {{form.password2}}

                                                    {% comment %} <input type="text" name="password2" required class="form-control" placeholder="Email" value="" id="email" /> {% endcomment %}
                                                </div>
                                            </div>
                                            
                                            {% comment %} <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="role">Role</label>
                                                    <select class="form-control" id="role">
                                                        <option>Admin</option>
                                                        <option>User</option>
                                                        <option>Staff</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="company">Company</label>
                                                    <input type="text" class="form-control" value="WinDon Technologies Pvt Ltd" placeholder="Company name" id="company" />
                                                </div>
                                            </div> {% endcomment %}
                                           
                                            <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                                <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1">Save Changes</button>
                                                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <!-- users edit ends -->

            </div>
        </div>
    <!-- END: Content-->
    {% endblock content %}
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN Vendor JS-->
    {% block scriptjs %}
       <!-- BEGIN: Page Vendor JS-->
       <script href="{% static 'app-assets/vendors/js/forms/select/select2.full.min.js' %}"></script>
       <script href="{% static 'app-assets/vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
       <script href="{% static 'app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' %}"></script>
       <!-- END: Page Vendor JS-->
   
   
       <!-- BEGIN: Page JS-->
       <script href="{% static 'app-assets/js/scripts/pages/app-user-edit.js' %}"></script>
       <script href="{% static 'app-assets/js/scripts/components/components-navs.js' %}"></script>
       <!-- END: Page JS-->
    {% endblock scriptjs %}
 

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>
</body>
<!-- END: Body-->

</html>